# MarketMasters API key and URL
MARKETMASTERS_API_KEY=
MARKETMASTERS_URL=https://api.marketmasters.ai/v1/stocks/patterns

# Alpaca API credentials and base URL
ALPACA_BASE_URL=https://paper-api.alpaca.markets/v2
ALPACA_KEY=
ALPACA_SECRET=
