# MarketMasters API key and URL
MARKETMASTERS_API_KEY=
MARKETMASTERS_URL=https://api.marketmasters.ai/v1/stocks/patterns
DEFAULT_MARKETMASTERS_PARAMS = {"status": "active", "bullish": "true"}

# Alpaca API credentials and base URL
ALPACA_BASE_URL=https://paper-api.alpaca.markets/v2
ALPACA_KEY=
ALPACA_SECRET=

ALPCACA_PERCENTAGE_PER_TRADE=0.02 # Percentage of total capital to allocate per trade (e.g., 0.02 for 2%)
BREAKOUT_LIMIT_BUFFER=0.01 # Buffer percentage to add to breakout levels (e.g., 0.01 for 1%)
